#volley{
  width: 150px;
}
#soft{
  width: 150px;
}
#darkness{
  width: 150px;
}
#bird{
  width: 150px;
}
#laughing{
  width: 150px;
}
#crying{
  width: 150px;
}
#direction{
  width: 400px;
}
#drake{
  width: 300px;
}
#usher{
  width: 300px;
}
#interview{
  width: 300px;
}
#story{
  width: 300px;
}
#time{
  width: 300px;
}
#gretel{
  width: 300px;
}
